<%- include("header", {title: title}); %>

<%- include("header2", {title: title}); %>

<h1>Bankens konton med summerad ränta</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Kontonummer</th>
        <th>Ny balans</th>
        <th>Summerad ränta</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <td><%= row.id %></td>
        <td><%= row.accountNumber %></td>
        <td><%= row.balance %></td>
        <td><%= row.interestSum %></td>
    </tr>
<% }; %>
</table>

<%- include("footer"); %>
